//
// Component Baseline
//

body {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-500) 0,
    rgba(255, 255, 255, 0) 1px
  );
  background-repeat: repeat-y;
  background-size: 100% var(--vertical-rhythm);
}
