//
// Pages Home
//
$background-grey-serempre: #F5F5F7;
$border-color-serempre: #D2D2D7;
$border-radius: 0.5rem;
$background: #FFFFFF;
$title-color: #111111;
$color-span: #6B7280;
$color-border: #EEEFF2;
$color-icon: #000000;
$color-hover: #B6BCC6;
$color-select: #1E96D4;
$color-hover-button: #66BEEB;
$color-focus: #D8DCE0;
$color-red: #CB253C;
.p-home {
    font-family: "Circular Std Medium";
    background-color: $background;
    width: 100%;
    padding-right: 7rem;
    padding-left: 7rem;
    margin-right: auto;
    margin-left: auto;
}

hr {
    height: 1px;
    border: none;
    background-color: $color-border;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 0.25rem);
    justify-content: space-between;
}

.card-serempre {
    max-height: 72px;
    padding: 24px;
    border-radius: $border-radius;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-serempre p {
    font-size: 14px;
    color: $title-color;
    font-weight: 500;
    line-height: 1.429;
    text-align: left;
    margin: 0;
    vertical-align: text-top;
    width: -webkit-fill-available;
}

.card-serempre span {
    font-size: 14px;
    color: $color-span;
    font-weight: 400;
    line-height: 1.429;
    text-align: left;
    vertical-align: text-top;
}

.card-serempre:hover {
    border: 2px solid $color-hover;
    cursor: pointer;
}

.card-serempre:focus {
    outline: none;
    box-shadow: 0 0 3px $color-focus;
}

.buy-now {
    font-size: 16px;
    color: $background;
    background-color: $color-select;
    border: none;
    height: 48px;
    width: 105px;
    border-radius: $border-radius;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    vertical-align: text-top;
    margin-left: 2rem;
}

.buy-now:hover {
    background-color: $color-hover-button;
    border: none;
    cursor: pointer;
}

.buy-now:focus {
    outline: none;
    box-shadow: 0 0 3px $color-focus !important;
}

.ima-show {
    align-items: center;
    justify-content: center;
    height: auto;
    width: calc(100% - 0.5rem);
    border: 2px solid $color-border;
    border-radius: $border-radius;
}

.ima-show img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.ima-show img {
    width: 100%;
}

.row-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 0.25rem);
    justify-content: space-between;
}

.mb-3 {
    margin-bottom: 28px;
}

.ima-prev-view {
    border: 2px solid $color-border;
    border-radius: $border-radius;
}

.ima-prev-view:hover {
    border-color: $color-hover;
}

.ima-prev-view:hover {
    border-color: $color-hover;
    cursor: pointer;
}

.ima-prev-view:focus {
    outline: none;
    box-shadow: 0 0 3px $color-focus;
}

.ima-select {
    border-color: $color-select;
}

.ima-select:hover {
    border-color: $color-select;
}

.caracter-icon {
    display: block;
    margin: 0;
    color: $title-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.429;
    text-align: center;
}

.icon_with_text {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 30px;
}

.footer-serempre {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: $background-grey-serempre;
    border: 1px solid $border-color-serempre;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.card-total-serempre {
    align-items: center;
    justify-content: flex-end;
}

.card-serempre-info {
    max-height: 72px;
    border-radius: $border-radius;
}

.card-serempre-info p {
    font-size: 14px;
    color: $title-color;
    font-weight: 500;
    line-height: 1.714;
    text-align: left;
    margin: 0;
    vertical-align: text-top;
    width: -webkit-fill-available;
}

.card-serempre-info span {
    font-size: 14px;
    width: 100%;
    color: $color-span;
    font-weight: 400;
    line-height: 1.429;
    text-align: left;
    vertical-align: text-top;
}

.card-serempre-info h2 {
    margin: 0;
    text-align: right;
    font-size: 27.65px;
    color: $title-color;
    font-weight: 700;
    line-height: 1.157;
    vertical-align: text-top;
}

.col-data {
    width: 50%;
    justify-content: space-between;
    display: flex;
}

.always-show {
    display: block !important;
}

.specifications-list ul li span {
    font-weight: 400;
}

.title-list span {
    font-size: 13.3333px;
    width: 100%;
    color: $color-red;
    font-weight: 400;
    line-height: 1.2;
    vertical-align: text-top;
    text-transform: uppercase;
}

.title-list h3 {
    font-size: 39.81px;
    color: $title-color;
    font-weight: 700;
    line-height: 1.206;
    vertical-align: text-top;
    margin: 0;
}

.title-list h5 {
    font-size: 27.65px;
    color: $color-span;
    font-weight: 400;
    line-height: 1.157;
    vertical-align: text-top;
    margin: 0;
}

.price-list span {
    color: $color-span;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}

.price-list h3 {
    margin: 0;
    color: $title-color;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

h6 {
    margin: 0;
    color: $title-color;
    font-size: 19.2px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 12px;
}

.border {
    border: 2px solid $color-border;
    border-radius: $border-radius;
}

.specifications-list {
    margin-bottom: 48px;
}

.active {
    border: 2px solid $color-select;
}

.active:hover {
    border: 2px solid $color-select;
}

.specifications-list ul {
    list-style: none;
    padding: 0;
}

.specifications-list ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    color: $title-color;
    font-size: 14px;
    line-height: 1.429;
    border-bottom: 0.5px solid $color-hover;
}

.tablinks {
    background-color: transparent;
    color: $color-span;
    border: none;
    font-size: 19.2px;
    font-weight: 500;
    line-height: 1.25;
    text-align: left;
    margin-right: 24px;
    vertical-align: text-top;
    cursor: pointer;
}

.tabcontent {
    color: $color-span;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    vertical-align: text-top;
    display: none;
}

.selected {
    border: none;
    border-bottom: 1px solid $title-color;
    color: $title-color;
}

.tablinks:focus {
    outline: none;
}

.tablinks:hover {
    color: $color-hover;
}

.selected:hover {
    color: $title-color;
}

.extra-price {
    color: $title-color !important;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.mb-5 {
    margin-bottom: 48px;
}

.mb-2 {
    margin-bottom: 12px;
}

.w-75 {
    width: 75%;
}

.is-invalid {
    color: $color-red;
    display: block;
}

@media (min-width: 320px) {
    .modal-contenido {
        width: 200px;
        padding: 1.5rem;
        margin: 30% auto;
    }
}

@media (min-width: 768px) {
    .modal-contenido {
        width: 300px;
        padding: 2rem;
        margin: 15% auto;
    }
}

@media (min-width: 1280px) {
    .modal-contenido {
        width: 300px;
        padding: 2rem;
        margin: 15% auto;
    }
}

.modal-contenido {
    background-color: #ffffff;
    position: relative;
    border-radius: 8px;
    size: 14px;
    text-align: center;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-show {
    opacity: 1;
    pointer-events: auto;
}

.modal-contenido img {
    width: 4rem;
    height: 4rem;
}

@media (min-width: 320px) {
    .col-50 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row {
        display: block;
    }
}

@media (min-width: 768px) {
    .col-50 {
        display: block;
        max-width: 100%;
    }
    .row {
        display: block;
    }
}

@media (min-width: 1280px) {
    .col-50 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 39% !important;
        flex: 0 0 39% !important;
        max-width: 39% !important;
    }
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: calc(100% - 0.25rem);
        justify-content: space-between;
    }
}

@media (min-width: 320px) {
    .list {
        margin-top: 4rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mr-2 {
        margin-bottom: 18px;
    }
    .specifications-list ul li {
        display: block;
    }
    .specifications-list ul li p {
        margin: 0;
        font-weight: 500;
    }
}

@media (min-width: 768px) {
    .list {
        margin-top: 4rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mr-2 {
        margin-bottom: 18px;
    }
    .specifications-list ul li {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid $color-hover;
    }
    .specifications-list ul li span {
        text-align: right;
    }
}

@media (min-width: 1280px) {
    .list {
        margin-top: 2rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
        flex: 0 0 49%;
        max-width: 50%;
        padding: 0px 0px 0px 15px;
    }
    .mr-2 {
        margin-right: 18px;
    }
}

@media (min-width: 320px) {
    .always-show {
        text-align: end;
        margin-bottom: 1rem;
    }
    .card-total-serempre {
        display: block;
        text-align: end;
    }
    .footer-serempre {
        height: 182px;
        padding-left: 0.5rem;
    }
    .container-footer {
        display: flex;
        justify-content: space-between;
        width: 296px;
    }
    .card-serempre-info p {
        display: none;
    }
    .card-serempre-info span {
        display: none;
    }
}

@media (min-width: 768px) {
    .footer-serempre {
        height: 112px;
        padding-left: 3.8rem;
    }
    .always-show {
        margin-bottom: 0;
    }
    .card-total-serempre {
        display: flex;
    }
    .container-footer {
        width: 764px;
    }
    .card-serempre-info p {
        display: block;
        margin-bottom: 0.5rem;
    }
    .card-serempre-info span {
        display: none;
    }
    .col-data {
        display: block;
    }
}

@media (min-width: 1280px) {
    .footer-serempre {
        height: 152px;
        padding-left: 3.8rem;
    }
    .card-serempre-info p {
        display: block;
        margin-bottom: 0;
    }
    .card-serempre-info span {
        display: block;
        max-width: 248px;
    }
    .container-footer {
        width: 1140px;
    }
    .col-data {
        display: flex;
    }
}

.header-serempre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

@media (min-width: 320px) {
    .header-serempre img {
        height: 50px;
        width: 50px;
    }
}

@media (min-width: 768px) {
    .header-serempre img {
        height: 58px;
        width: 58px;
    }
}

@media (min-width: 1440px) {
    .footer-serempre {
        padding-left: 13.2rem;
    }
}

@media (min-width: 320px) {
    .imagen {
        margin-top: 2rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-xs {
        display: block;
        width: calc(100% - 0.25rem);
        justify-content: space-between;
    }
    .row-xs .caracter-icon {
        margin-bottom: 2rem;
    }
    .ima-prev-view {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        padding: 1% 3% 1% 3%;
    }
    .ima-prev-view img {
        max-height: 37px;
        width: auto;
    }
    .caracter-icon img {
        color: $color-icon;
        height: 27px;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .imagen {
        position: -webkit-sticky;
        position: sticky;
        top: 15px;
        margin-top: 2rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-xs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: calc(100% - 0.25rem);
        justify-content: space-between;
    }
    .ima-prev-view {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        padding: 1% 3% 1% 3%;
    }
    .ima-prev-view img {
        max-height: 83px;
        width: auto;
    }
}

@media (min-width: 1280px) {
    .imagen {
        margin-top: 2rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
        padding: 0px 15px 0px 0px;
    }
    .row-xs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: calc(100% - 0.25rem);
        justify-content: space-between;
    }
    .ima-prev-view {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        padding: 1% 3% 1% 3%;
    }
    .ima-prev-view img {
        max-height: 83px;
        width: auto;
    }
}

@media (min-width: 320px) {
    .p-home {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        max-width: 300px;
    }
    .body-serempre {
        min-height: calc(100vw + 2700px);
    }
}

@media (min-width: 768px) {
    .p-home {
        max-width: 960px;
    }
    .body-serempre {
        min-height: calc(100vw + 1900px);
    }
}

@media (min-width: 1280px) {
    .p-home {
        max-width: 1140px;
    }
    .body-serempre {
        min-height: calc(100vw + 600px);
    }
}

@media (min-width: 1440px) {
    .body-serempre {
        min-height: calc(100vw + 350px);
    }
}